.navbar-container{
    padding: 0;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: max-content;
}
.nav-links{
    display: flex;
    gap: 4rem;
}